extends:
  - standard
  - plugin:flowtype/recommended
  - plugin:react/recommended
  - prettier
  - prettier/flowtype
  - prettier/react
  - prettier/standard
plugins:
  - flowtype
  - react
  - prettier
  - standard
parser: babel-eslint
env:
  browser: 1
  es6: 1
rules:
  prettier/prettier: 2
